<div id="background-wrapper">
  <!--all your content-->

<!--   <div class="matches_menu ui secondary  menu">
    <a id="matches_submenu_1" class="active item">
      Profile
    </a>
    <a id="matches_submenu_2" class="matches_submenu item" href="/chin">
      Matches
    </a>
    <a id="matches_submenu_3" class="item" href="/selection">
      Heros
    </a>
    <a id="matches_submenu_4" class="item">
      Notes
    </a>
    <div class="right menu">
      <div class="ui search">
        <input class="prompt" type="text" placeholder="Common passwords...">
        <div class="results"></div>
      </div>
      <a id="matches_submenu_5" class="ui item">
        Logout
      </a>
    </div>
  </div> -->
  
  <div class="section" id="user_show_section_1">
    <div id="user_match_display_menu" class="ui pointing menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a>
      <div class="right menu">
        <a class="compact ui inverted basic button" href="/test">
          Update
        </a>
      </div>
    </div>

    <div class="ui statistics" id="profile_display">
      <img id="profile_display_steam_img" class="ui tiny image" src="<%= @profile_info_display['avatar']%>">
      <div class="statistic">
        <div class="value">
          <%=@profile_info_display['name']%>
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          31,200
        </div>
        <div class="label">
          Views
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          22
        </div>
        <div class="label">
          Members
        </div>
      </div>
    </div>
    
    <div id="profile_stats">

      <div id="left_side">
        <div id="fav_hero_display">
          <% @top_3_list.each do |hero| %>
          <img class="top_hero" src="<%= hero['hero_pic']%>" >
          <% end %>
        </div>
        <div id="user_info">
          <div id="chart"></div>
          <div id="user_stats">
            <ul id="stats_list">
            <li>Avg GPM : 539</li>
            <li>Avg XPM : 529</li>
            <li>Avg Last Hits : 221</li>
            <li>Avg Kills : 11</li>
            <li>Avg Deaths : 7</li>
            <hr>
            <li>Fav Hero : Slark</li>
            <li>Fav Carry : Slark</li>
            <li>Fav Supp : Spirit Breaker</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="right_side">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/elliot.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Elliot Fu
                </a> added you as a friend
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/helen.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Helen Troy</a> added <a>2 new illustrations</a>
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="/images/wireframe/image.png"></a>
                <a><img src="/images/wireframe/image.png"></a>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 1 Like
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/jenny.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Jenny Hess
                </a> added you as a friend
                <div class="date">
                  2 Days Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 8 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/joe.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Joe Henderson</a> posted on his page
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 5 Likes
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="main_container">

    <div id="user_match_display_menu_option" class="ui tabular menu">
      <a id="user_match_display_card_view" class="item">
        Card view
      </a>
      <a id="user_match_display_minimap_view" class="item">
        Minimap view
      </a>
    </div>

    <div id="user_match_display_container">
      
      <div id="card_view_container">

      <% @players.each do |player| %>
        <% @match = Match.find(player['match_id']) %>
        <% @slot = player['player_slot'] %>
        <% @time = Time.at(@match['start_time'].to_i).strftime("%m/%d %I:%M %p") %>
        <% if  player['winner'] == true %>
        <% @mywin = "Win" %>
        <% elsif  player['winner'] == false %>
        <% @mywin = "Loss" %>
        <% end %>
          
        


        <div class="ui red card">

          <div class="extra content">
            <span class="right floated">
              <%= @mywin %>
              
            </span>
            <span>
              <%= @time %>
            </span>
          </div>


          

          

          <% @hero = Champion.find(player['hero_id']) %>
          <a href="#match_overview">
          <!-- <a href="javascript:void(0)"> -->
          <img class="image hero_potrait" value="match_<%= player['match_id'] %>"  data-lazy="<%=@hero['img_url']%>">
          </a>




          <div id="items_container">
            

            <% if player['item_0'] != 0 %>
              <% begin %>
              <% item0 = Item.find(player['item_0']) %>
              <img class="item_icon" data-lazy=" <%= item0['img_url'] %> ">
              <% rescue %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
              <% end %>
            <% elsif %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
            <% end %>
        
            <% if player['item_1'] != 0 %>
              <% begin %>
              <% item1 = Item.find(player['item_1']) %>
              <img class="item_icon" data-lazy=" <%= item1['img_url'] %> ">
              <% rescue %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
              <% end %>
            <% elsif %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
            <% end %>

            <% if player['item_2'] != 0 %>
              <% begin %>
              <% item2 = Item.find(player['item_2']) %>
              <img class="item_icon" data-lazy=" <%= item2['img_url'] %> ">
              <% rescue %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
              <% end %>
            <% elsif %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
            <% end %>

            <% if player['item_3'] != 0 %>
              <% begin %>
              <% item3 = Item.find(player['item_3']) %>
              <img class="item_icon" data-lazy=" <%= item3['img_url'] %> ">
              <% rescue %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
              <% end %>
            <% elsif %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
            <% end %>


            <% if player['item_4'] != 0 %>
              <% begin %>
              <% item4 = Item.find(player['item_4']) %>
              <img class="item_icon" data-lazy=" <%= item4['img_url'] %> ">
              <% rescue %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
              <% end %>
            <% elsif %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
            <% end %>

            <% if player['item_5'] != 0 %>
              <% begin %>
              <% item5 = Item.find(player['item_5']) %>
              <img class="item_icon" data-lazy=" <%= item5['img_url'] %> ">
              <% rescue %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
              <% end %>
            <% elsif %>
              <img class="item_icon" data-lazy="/assets/items_bg2.png">
            <% end %>


          </div>

          <div class="ui mini statistics">

            <div class="green statistic">
              <div class="value">
                <%=player["kills"]%>
              </div>
              <div class="label">
                Kills
              </div>
            </div>
            <div class="red statistic">
              <div class="value">
                <%=player["deaths"]%>
              </div>
              <div class="label">
                Deaths
              </div>
            </div>
            <div class="yellow statistic">
              <div class="value">
                <%=player["assists"]%>
              </div>
              <div class="label">
                Assits
              </div>
            </div>

          </div>

        </div>

      <% end %>

      </div>

      <div id="d3_minimap_chart">
      </div>    
    </div>



    <div id="user_hero_ind_stat_display">
      <div id="ind_hero_graph">
      </div>
      <div id="user_hero_ind_stat_main">
      </div>
    </div>




  </div>

  <div class="section" id="match_main_container">

    <div id="match_details_sidebar">
      <div class="match_details ui vertical text menu">
        <div class="header item">Sort By</div>
        <a class="active item">
          Closest
        </a>
        <a class="item">
          Most Comments
        </a>
        <a class="item">
          Most Popular
        </a>
      </div>
    </div>

    <div id="match_details_main">
      <div id="match_overview"></div>
      <div name="section_top" id="radiant_side">
          <table class="ui celled table" cellspacing="10" style="width:100%">
      </div>
    </div>

  </div>


</div>

<!--   <button id="main_btn"><%= @friend_summaries_list.length %> Friends</button>


  <div id="list">
    
    <div id="online_btn">
      <button><%= @online.length %> Online</button>
    </div>
    <div id="online">

      
          <% @online.each do |online| %>
            <li>
            <img src="<%=online['avatar']%>">
            <h5><%=online['name']%></h5>
            </li>
          <% end %>
      
    </div>


    <div id="away_btn">
      <button><%=@away.length%> Away</button>
    </div>
    <div id="away">

      
          <% @away.each do |away| %>
            <li>
            <img src="<%=away['avatar']%>">
            <h5><%=away['name']%></h5>
            </li>
          <% end %>
      
    </div>

    
    <div id="offline_btn">
      <button><%= @offline.length%>Offline</button>
    </div>
    <div id="offline">
      
      
          <% @offline.each do |offline| %>
            <li>
            <img src="<%=offline['avatar']%>">
            <h5><%=offline['name']%></h5>
            </li>
          <% end %>
      
    </div>
      
  </div> -->




<%= content_tag :div, class: "temp_information", data: {temp: @match_history_icon} do %>
<% end %>

<script type="text/javascript">

 $("#user_match_display_minimap_view").click(function(){
  $('#card_view_container').hide();
  $('#d3_minimap_chart').show();
 });
 $("#user_match_display_card_view").click(function(){
  $('#d3_minimap_chart').hide();
  $('#card_view_container').show();
 });

  var myheroes = {
    "antimage"  : 1 ,
    "Axe"  : 2 ,
    "Bane"  : 3 ,
    "Bloodseeker"  : 4 ,
    "Crystal_Maiden"  : 5 ,
    "Drow_Ranger"  : 6 ,
    "Earthshaker"  : 7 ,
    "juggernaut"  : 8 ,
    "Mirana"  : 9 ,
    "nevermore"  : 11 ,
    "Morphling"  : 10 ,
    "Phantom_Lancer"  : 12 ,
    "Puck"  : 13 ,
    "Pudge"  : 14 ,
    "Razor"  : 15 ,
    "Sand_King"  : 16 ,
    "Storm_Spirit"  : 17 ,
    "Sven"  : 18 ,
    "Tiny"  : 19 ,
    "Vengefulspirit"  : 20 ,
    "windrunner"  : 21 ,
    "Zuus"  : 22 ,
    "Kunkka"  : 23 ,
    "Lina"  : 25 ,
    "Lich"  : 31 ,
    "Lion"  : 26 ,
    "Shadow_Shaman"  : 27 ,
    "Slardar"  : 28 ,
    "Tidehunter"  : 29 ,
    "Witch_Doctor"  : 30 ,
    "Riki"  : 32 ,
    "Enigma"  : 33 ,
    "Tinker"  : 34 ,
    "Sniper"  : 35 ,
    "Necrolyte"  : 36 ,
    "Warlock"  : 37 ,
    "Beastmaster"  : 38 ,
    "queenofpain"  : 39 ,
    "Venomancer"  : 40 ,
    "Faceless_Void"  : 41 ,
    "Skeleton_King"  : 42 ,
    "Death_Prophet"  : 43 ,
    "Phantom_Assassin"  : 44 ,
    "Pugna"  : 45 ,
    "Templar_Assassin"  : 46 ,
    "Viper"  : 47 ,
    "Luna"  : 48 ,
    "Dragon_Knight"  : 49 ,
    "Dazzle"  : 50 ,
    "rattletrap"  : 51 ,
    "Leshrac"  : 52 ,
    "Furion"  : 53 ,
    "Life_Stealer"  : 54 ,
    "Dark_Seer"  : 55 ,
    "Clinkz"  : 56 ,
    "Omniknight"  : 57 ,
    "Enchantress"  : 58 ,
    "Huskar"  : 59 ,
    "Night_Stalker"  : 60 ,
    "Broodmother"  : 61 ,
    "Bounty_Hunter"  : 62 ,
    "Weaver"  : 63 ,
    "Jakiro"  : 64 ,
    "Batrider"  : 65 ,
    "Chen"  : 66 ,
    "Spectre"  : 67 ,
    "Doom_Bringer"  : 69 ,
    "Ancient_Apparition"  : 68 ,
    "Ursa"  : 70 ,
    "Spirit_Breaker"  : 71 ,
    "Gyrocopter"  : 72 ,
    "Alchemist"  : 73 ,
    "Invoker"  : 74 ,
    "Silencer"  : 75 ,
    "Obsidian_Destroyer"  : 76 ,
    "Lycan"  : 77 ,
    "Brewmaster"  : 78 ,
    "Shadow_Demon"  : 79 ,
    "Lone_Druid"  : 80 ,
    "Chaos_Knight"  : 81 ,
    "Meepo"  : 82 ,
    "Treant"  : 83 ,
    "Ogre_Magi"  : 84 ,
    "Undying"  : 85 ,
    "Rubick"  : 86 ,
    "Disruptor"  : 87 ,
    "Nyx_Assassin"  : 88 ,
    "Naga_Siren"  : 89 ,
    "Keeper_of_the_light"  : 90 ,
    "Wisp"  : 91 ,
    "Visage"  : 92 ,
    "Slark"  : 93 ,
    "Medusa"  : 94 ,
    "Troll_Warlord"  : 95 ,
    "Centaur"  : 96 ,
    "Magnataur"  : 97 ,
    "shredder"  : 98 ,
    "Bristleback"  : 99 ,
    "Tusk"  : 100 ,
    "Skywrath_Mage"  : 101 ,
    "Abaddon"  : 102 ,
    "Elder_Titan"  : 103 ,
    "Legion_Commander"  : 104 ,
    "Ember_Spirit"  : 106 ,
    "Earth_Spirit"  : 107 ,
    "Terrorblade"  : 109 ,
    "Phoenix"  : 110 ,
    "Oracle" : 111 ,
    "Techies" : 105 ,
    "Winter_Wyvern" : 112 ,
    }
    
  var unfiltered_data = $('.temp_information').data('temp');
  var data2 = _.uniq(unfiltered_data, function(item, key, unformat_time) { 
    return item.unformat_time;
  });

  var first_date_unparsed = d3.min(data2, function(d) {
    return d.time
  });
  var last_date_unparsed = d3.max(data2, function(d) {
    return d.time
  });
  var first_date = new Date(first_date_unparsed);
  var last_date = new Date(last_date_unparsed);
  first_date.setHours(0,0,0,0);
  // var first_date = new Date(data2[0].unformat_time * 1000);

  // var last_date = new Date(data2[data2.length - 1].time.split(" ")[0]);
  // var timeDiff = Math.abs(last_date.getTime() - first_date.getTime());
  // var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
  // var d3Object = {};

  // var date1 = new Date(data2[0].unformat_time * 1000);
  // var date2 = new Date(data2[data2.length - 1].unformat_time * 1000);
  // var timeDiff2 = Math.abs(date2.getTime() - date1.getTime());
  // var diffDays2 = Math.ceil(timeDiff2 / (1000 * 3600 * 24)); 
  // alert(diffDays2);



  var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"];

  var map_result = _.map(data2, function (item) {
      var d = new Date(item.time);
      // console.log(d);
      // console.log(d.getMonth() + "/" + d.getDay());
      var timeDiff = Math.abs(first_date.getTime() - d.getTime());
      var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
      // console.log(d.getTime());
      // console.log(diffDays);
      // var month = d.getMonth() + ", " + d.getDate(); 
      var month = monthNames[d.getMonth()] + ", " + d.getDate(); 
      var hour =  d.getHours();
      var minute = Number((d.getMinutes()<10?'0':'') + d.getMinutes());
      return {
          "win": item.winner,
          "id": item.match_id,
          "hour": hour,
          "minute": minute,
          "Month": month,
          "hero_id": item.hero,
          "day": diffDays,
          "User_Count": 1
      };
  });

  var result_temp = _.reduce(map_result, function (memo, item) {
      if (memo[item.Month] === undefined) {
          memo[item.Month] = [item.hero_id+ " " + item.hour + " " +item.minute];
      }else{
          memo[item.Month].push(item.hero_id+ " " + item.hour + " " +item.minute);
      }
      return memo;
  },{});

  var final_result = _.map(map_result, function (item) {
      x = result_temp[item.Month]
      item.game_of_day = x.indexOf(item.hero_id+ " " + item.hour + " " +item.minute) + 1;
  });

  
  // var newobj = {}; 
  // var result_temp2 = _.reduce(map_result, function (memo, item) {
  //     if (memo[item.Month] === undefined) {
  //         console.log("new day found")
  //         newobj[item.Month] = [];
  //         newobj[item.Month].push(item.hero_id)
  //     }else{
  //         newobj[item.Month].push(item.hero_id);
  //     }
  //     return memo;
  // },{});

  // debugger

  //then wrap the result to the format you expected.
  var result = _.map(result_temp, function(value, key){
      return {
          "Month": key,
          "User_Count": value
      };
  });

  // console.log(result);
  

  // _.each(data2 , function(date){
  //   var temp_date = new Date(date.time.split(" ")[0]);
  //   var timeDiff = Math.abs(last_date.getTime() - temp_date);
  //   var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
  //   // console.log(diffDays);
      
  // })


  data = [{"hero":"Axe","pos":1},{"hero":"Bane","pos":2},{"hero":"Dazzle","pos":5}];

  // add margins to svg

  var margin = {top: 30, right: 20, bottom: 30, left: 10},
      width = 2000 - margin.left - margin.right,
      height = 290 ;

  // Parse the date / time
  var parseDate = d3.time.format("%d-%b-%y").parse;

  // Set the ranges
  // var x = d3.time.scale().domain([data2[0].time, data2[data2.length - 1].time]).range([0, width]);
  var x = d3.time.scale()
    .domain([first_date, last_date])
    .rangeRound([0, width - margin.left - margin.right]);

  // var x = d3.scale.linear().domain([0,17]).range([0, width]);
  var y = d3.scale.linear().range([height, 0]);

  // Define the axes
  var xAxis = d3.svg.axis()
      .scale(x)
      // .tickFormat(function(d) { return dataset[d].Month; })
      .orient("bottom");

  function make_x_axis() {        
    return d3.svg.axis()
        .scale(x)
         .orient("bottom")
         .ticks(16)
  }1

  function make_y_axis() {        
    return d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(24)
  }


  // var xAxis = d3.svg.axis()
  //     .scale(x)
  //     .orient("bottom");
  // // xAxis
  // svg.append("g") // Add the X Axis
  //     .attr("class", "x axis")
  //     .attr("transform", "translate(0," + (height) + ")")
  //     .call(xAxis);
  // //xAxis Label
  // svg.append("text") 
  //     .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.bottom - 5) +")")
  //     .style("text-anchor", "middle")
  //     .text("Month");    



  var yAxis = d3.svg.axis().scale(y)
      .orient("left").ticks(5);

  // Define the line
  var valueline = d3.svg.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.close); });

  var svg = d3.select("#d3_minimap_chart")
    .append("svg")
      .attr("fill","red")
      .attr("id","my_svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .style("border", "1px solid black")
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");




// $('.d3_bg').css("opacity",".8")

  // svg.append("rect")
  //   .attr("width", "100%")
  //   .attr("height", "100%")
  //   .attr("fill", "rgba(27,28,29, 0.6)");

  svg.append("text")      // text label for the x axis
    .attr("x", 265 )
    .attr("y", 480 )
    .style("text-anchor", "middle")
    .text("Date");

    // x.domain(map_result.map(function(d) { return d.Month; }));
    // y.domain([0, d3.max(data, function(d) { return d.frequency; })]);

        // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
      // .selectAll("text")
      //   .style("text-anchor", "end")
      //   .attr("dx", "-.8em")
      //   .attr("dy", "-.55em")
      //   .attr("transform", "rotate(-90)" );

    // Add the Y Axis
    // svg.append("g")
    //     .attr("class", "y axis")
    //     .call(yAxis);

    // svg.append("g")         
    // .attr("class", "grid")
    // .attr("transform", "translate(0," + height + ")")
    // .call(make_x_axis()
    //     .tickSize(-height, 0, 0)
    //     .tickFormat("")
    // )

    // svg.append("g")         
    // .attr("class", "grid")
    // .call(make_y_axis()
    //     .tickSize(-width, 0, 0)
    //     .tickFormat("")
    // )

var rectangle = svg.selectAll("rect").
                data(map_result);
  
    rectangle.enter()
    .append("svg:rect")              
              .attr("x", function(d,i){
                return (d.day * 60) - 20;
              })
              .attr("y", function(d,i){
                return (d.game_of_day * -30) + 290;
              })
              .attr("fill", function(d,i){
                if (d.win === true){
                  return "rgba(181, 204, 24, 0.6)"
                }
                else {
                  return "rgb(133, 17, 52)"
                }
              })
              .attr("width", 28)
              .attr("height", 28);



  var imgs = svg.selectAll("img").
    data(map_result);
    imgs.enter()
    .append("svg:image")
    .attr("value", function (d,i){
      // console.log(d.id);
      return d.id;
    })
    .attr("class", "minimap_hero_icon_img")
    .attr("xlink:href", function (d,i) {
          return "/assets/icons/minimap_hero_icon/" + (_.invert(myheroes))[d.hero_id] + "_icon.png"
      })
    .attr("x", function (d,i) {
        return (d.day * 60) - 20;
      })
    .attr("y", function (d,i) {
        return (d.game_of_day * -30) + 290;
      })
    .attr("stroke","orange")
    .attr("width", "28")
    .attr("height", "28");




    // var svg = d3.select("body")
    //     .append("svg")
    //     .attr("width", 200)
    //     .attr("height", 100)
    //     .style("border", "1px solid black");


    // var imgs = svg.selectAll("image")
    //     .data(data);
    //     imgs.enter()
    //     .append("svg:image")
    //     .attr("xlink:href", "/assets/icons/minimap_hero_icon/" + data[1] + "_icon.png")
    //     .attr("x", "60")
    //     .attr("y", "60")
    //     .attr("width", "20")
    //     .attr("height", "20");
</script>
