<!--   <button id="main_btn"><%= @friend_summaries_list.length %> Friends</button>


  <div id="list">
    
    <div id="online_btn">
      <button><%= @online.length %> Online</button>
    </div>
    <div id="online">

      
          <% @online.each do |online| %>
            <li>
            <img src="<%=online['avatar']%>">
            <h5><%=online['name']%></h5>
            </li>
          <% end %>
      
    </div>


    <div id="away_btn">
      <button><%=@away.length%> Away</button>
    </div>
    <div id="away">

      
          <% @away.each do |away| %>
            <li>
            <img src="<%=away['avatar']%>">
            <h5><%=away['name']%></h5>
            </li>
          <% end %>
      
    </div>

    
    <div id="offline_btn">
      <button><%= @offline.length%>Offline</button>
    </div>
    <div id="offline">
      
      
          <% @offline.each do |offline| %>
            <li>
            <img src="<%=offline['avatar']%>">
            <h5><%=offline['name']%></h5>
            </li>
          <% end %>
      
    </div>
      
  </div> -->