<!doctype html>
<html>
  <head>
    <title>Users</title>
    
     <!-- Scripts -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    

    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Exo:400,700' rel='stylesheet' type='text/css'>
    <link href="https://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/modal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/card.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.css"/>   
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.css">
  </head>
  <body>
        <div id="main_menu" class="ui inverted pointing menu fluid six item">
          <a href="/" class="active item">
            <i class="home icon"></i> Home
          </a>
          <a href="/users/<%=session[:user_id]%>" class="item">
            <i class="user icon"></i>Stats
          </a>
          <a href="/twitch" class="item">
            <i class="archive icon"></i> Notes
          </a>
          <a href="/selection" class="item">
            <i class="mail icon"></i>Learn
          </a>
          <a href="#" class="item">
            <i class="home icon"></i>About me
          </a>
          <a href="#" class="item">
            <i class="home icon"></i>Log-out
          </a>
        </div>
<!--     <img class="nav_bg" src="/assets/dotabg.jpg">
      <nav role='navigation'>
        <ul>
          <li><a href="/users/<%=session[:user_id]%>"><span>Stats</span></a></li>
          <li class="current"><a href="/twitch"><span>Notes</span></a></li>
          <li><a href="/selection"><span>Learn</span></a></li>
          <li><a href="#"><span>About Me</span></a></li>
        </ul>
      </nav> -->
    <%= yield %>
  </body>
</html>
